.App {
  text-align: center;
}

.container-div{

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #000; 
  width: 20%;
  margin: 10% 0 0 40%;
  border-radius: 20px; 
}
.container-div h2{
margin: 10px 0 
}

.container-buttons{
  display: flex;
  flex-direction: column;
}
.form-container{
  margin: 30px 0 
}
.form-container div input{
  margin: 20px 0 
}